.button{
    border: 3px solid black;
    height: 100px;
    width: 100px;
    border-radius: 2px;
    padding: 20px 30px 25px ;
    margin: 5px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
#grey{
    background-color: grey;
    
}
#green{
    background-color: green;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}